body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
  }
  
  input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  input[type=button] {
    background-color: #29572a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-left: 30.3%;
    cursor: pointer;
    font-size: 1em;
  }
  
  .field label {
    display: inline-block;
    width: 30%;
    text-align: right;
  }
  
  
  table {
    border-collapse: collapse;
    border: 1px solid grey;
    margin: 1%;
  }
  
  td {
    border: 1px solid grey;
    height: 1em;
    width: 1em;
    text-align: center;
  }
  
  .class1 {
    background-color: #69b5ec;
  }
  
  .class2 {
    background-color: #4CAF50;
  }
  
  .class3 {
    background-color: #ff7991;
  }
  
  #seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20vh;
  }